<div class="row content">
    <h2 style="margin-top:0;">BCC Schedule </h2>
    <button md-raised-button color="primary" routerLink="../create-period" style="margin-bottom:2em">Create Period</button>
    <div class="example-container-paginator mat-elevation-z8">
        
      <md-table #table [dataSource]="dataSource">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- ID Column -->
        <ng-container mdColumnDef="name">
          <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container mdColumnDef="active">
          <md-header-cell *mdHeaderCellDef> Active </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.active}} </md-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container mdColumnDef="course">
          <md-header-cell *mdHeaderCellDef> Course </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.course}} </md-cell>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container mdColumnDef="start_date">
          <md-header-cell *mdHeaderCellDef> Start Date </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.start_date | date : 'dd-MM-yyyy'}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="end_date">
            <md-header-cell *mdHeaderCellDef> End Date </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.end_date | date : 'dd-MM-yyyy'}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="created_by">
            <md-header-cell *mdHeaderCellDef> Created by </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.created_by}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="updated_by">
            <md-header-cell *mdHeaderCellDef> Created by </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.updated_by}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="action">
            <md-header-cell *mdHeaderCellDef> Action </md-header-cell>
            <md-cell *mdCellDef="let row">
                    <div>
                        <span><button mdTooltip="Eligible participants" md-icon-button><md-icon style="color: purple; ">supervisor_account</md-icon></button></span>
                        <span><button mdTooltip="Schedule list" md-icon-button><md-icon style="color: purple; ">date_range</md-icon></button></span>
                    </div>
                    <div>
                        <span><button mdTooltip="Edit" md-icon-button><md-icon style="color: purple; ">border_color</md-icon></button></span>
                        <span><button (click)="openDialog()" mdTooltip="Delete" md-icon-button><md-icon style="color: purple; ">delete</md-icon></button></span>
                    </div>
            </md-cell>
          </ng-container>
    
        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
    
      <md-paginator #paginator
                    [length]="exampleDatabase.data.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
</div>
